@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: black;
  @apply text-white;
  @apply transition duration-500 ease-in-out;
}

/* LANDING PAGE STYLING */
#home {
  /* background-image: url(./assets/bg-landing-beta.png);
  background-size: cover;
  background-position: center; */
}
.logo,
.scene-title {
  text-shadow: 4px 4px 4px black;
}

/* FITNESS PAGE STYLING */
#fitness {
  /* background-image: url(./assets/bg-fitness.png);
  background-size: cover;
  background-position: center; */
}

/* FITNESS DROPDOWN STYLING */
.dropdown-button {
  border: solid 0.5px transparent;
  border-radius: 5px;
}

.dropdown-button:hover {
  border: solid 0.5px #33fe12;
  border-radius: 5px;
}

.dropdown-section {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* CONTACT US PAGE STYLING  */
#contactus {
  /* height: calc(100svh - 72px); */
}

/* .twenty-four {
  text-shadow: 0px 0px 20px #33fe12;
} */

.neon {
  box-shadow: 0px 0px 20px #33fe12;
}

.contact-main {
  height: calc(100vh - 4.5rem);
}
